<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Include quill stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" />

    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorApp-quill.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    <script>
        function initRichTextBox(id, value) {
            const quill = new Quill(document.getElementById(id), { theme: 'snow' });
            if (value) quill.setText(`${value}\n`);
            return quill;
        }

        function richTextValue(quill, value) {
            if (!quill) return 'ERROR: No Quill provided';
            if (value) {
                quill.setText(`${value}\n`);
            }
            return quill.getSemanticHTML();
        }
    </script>
</body>

</html>
